<!DOCTYPE html>
<html>
	<head>
		<title>HTML5 - Web Server Example</title>
		<link href="styles/style.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="/">Home</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/account">Account</a> | 
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>